<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
   <!-- <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css"> -->
   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script> 
   <!-- <script src="../Semantic-UI-CSS-master/semantic.min.js"></script> -->
  
   <title>Edit Data Konstituen</title>
</head>
<body>
   <h1>Edit Data Konstituen</h1>
   <a href="/konstituens"><button class="ui blue button">Lihat Data Konstituen</button></a> 
   <br></br>
   <form action="/konstituens/edit/<%= konstituen.id %>" method="POST">
      <div class="ui form">
         <div class="fields">
           <div class="five wide field">
             <label>Nama Konstituen</label>
             <input type="text" name="nama" value="<%= konstituen.nama %>">
           </div>
           <div class="five wide field">
             <label>Nomor Induk Kependudukan (NIK)</label>
             <input type="text" name="nik" value="<%= konstituen.nik %>">
           </div>
           <div class="six wide field">
             <label>Nomor Handphone</label>
             <input type="text" name="hp" value="<%= konstituen.hp %>">
           </div>
         </div>
         <div class="fields">
           <div class="sixteen wide field">
             <label>Alamat Konstituen</label>
             <input type="text" name="alamat" value="<%= konstituen.alamat %>">
           </div>
         </div>
         <div class="fields">
           <div class="seven wide field">
             <label>Kecamatan</label>
             <input type="text" name="kecamatanID" value="<%= konstituen.kecamatanID %>">
           </div>
           <div class="seven wide field">
             <label>Kelurahan</label>
             <input type="text" name="kelurahanID" value="<%= konstituen.kelurahanID %>">
           </div>
           <!-- <div class="two wide field">
             <label>Nomor TPS</label>
             <input type="text" name="tps" placeholder="Nomor TPS">
           </div> -->
         </div>
         <button type="submit" class="ui pink button">Submit</button>
       </div>
    </form>
</body>
</html>