<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <!-- UIkit CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/css/uikit.min.css" />
   <link rel="stylesheet" href="../css/uikit.min.css" />   
   <!-- UIkit JS -->
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/js/uikit.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/js/uikit-icons.min.js"></script> -->
   <script src="../js/uikit.min.js"></script>
   <script src="../js/uikit-icons.min.js"></script>
   <title>Data Konstituen</title>
</head>
<body>
   <h1>Data Konstituen</h1>
   <table class="uk-table uk-table-striped">
      <thead>
          <tr>
              <th>Nama</th>
              <th>NIK</th>
              <th>No HP</th>
              <th>Alamat</th>
              <th>Kecamatan</th>
              <th>Kelurahan</th>
              <th>TPS</th>
          </tr>
      </thead>
      <tbody>
         <% for (let i = 0; i < konstituens.length; i++) { %>
            <tr>
               <td><%= konstituens[i].nama %></td>
               <td><%= konstituens[i].nik %></td>
               <td><%= konstituens[i].hp %></td>
               <td><%= konstituens[i].alamat %></td>
               <td><%= konstituens[i].kecamatanID %></td>
               <td><%= konstituens[i].kelurahanID %></td>
               <td><%= konstituens[i].tps %></td>
            </tr>
         <% } %>
      </tbody>
  </table>
</body>
</html>