<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
   <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> -->
   <link rel="stylesheet" type="text/css" href="../Semantic-UI-CSS-master/semantic.min.css">
   <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
   <script src="./Semantic-UI-CSS-master/semantic.min.js"></script>
  
   <title>Data Konstituen</title>
</head>
<body>
   <h1>Data Konstituen</h1>
   <table class="ui celled striped table">
      <thead>
          <tr>
            <th>No</th>
            <th>Nama</th>
            <th>NIK</th>
            <th>No HP</th>
            <th>Alamat</th>
            <th>Kecamatan</th>
            <th>Kelurahan</th>
            <th>TPS</th>
          </tr>
      </thead>
      <tbody>
         <% for (let i = 0; i < konstituens.length; i++) { %>
            <tr>
               <td><%= i+1 %></td>
               <td><%= konstituens[i].nama %></td>
               <td><%= konstituens[i].nik %></td>
               <td><%= konstituens[i].hp %></td>
               <td><%= konstituens[i].alamat %></td>
               <td><%= konstituens[i].kecamatanID %></td>
               <td><%= konstituens[i].kelurahanID %></td>
               <td><%= konstituens[i].tps %></td>
            </tr>
         <% } %>
      </tbody>
  </table>

</body>
</html>